* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: auto;
  background-color: plum;
  background-image: url('/img/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

a:hover {
  color: rgb(227, 23, 234);
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: none;
  font-size: 2rem;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .navbar .links {
    display: none; 
  }

  .navbar .toggle_btn {
    display: block; 
  }

  .dropdown_menu{
    display: block;
  }

  .navbar.active .dropdown_menu {
    display: block;
  }
}

@media (max-width: 550px) {
 .dropdown_menu{
  left:  2rem;
  width: unset;
          }
  }


  /* slider */
.slider {
  width: 70%; 
  height: 500px;
  margin: 0 auto; 
  overflow: hidden;
}

.slider ul {
  display: flex;
  animation: cambio 20s infinite alternate linear;
  width: 400%;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  height: 100%;
}

@keyframes cambio {
  0% {margin-left: 0;}
  20% {margin-left: 0;}
  25% {margin-left: -100%;}
  45% {margin-left: -100%;}
  50% {margin-left: -200%;}
  70% {margin-left: -200%;}
  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}

/* Ajustes pantalla chiquita */
@media only screen and (min-width:320px) and (max-width:768px) {
  .slider {
      width: 90%; 
      height: 300px;
  }
}

.wrapper{
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper .table{
  background: rgb(242, 184, 118);

  width: calc(33% - 20px);
  padding: 30px 30px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.table .price-section{
  display: flex;
  justify-content: center;
}
.table .price-area{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 2px;
}
.price-area .inner-area{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  line-height: 117px;
  text-align: center;
  color: #fff;
  position: relative;
}
.price-area .inner-area .text{
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  top: -10px;
  left: 17px;
}
.price-area .inner-area .price{
  font-size: 45px;
  font-weight: 500;
  margin-left: 16px;
}
.table .package-name{
  width: 100%;
  height: 2px;
  margin: 35px 0;
  position: relative;
}
.table .package-name::before{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  font-weight: 500;
  background: #fff;
  padding: 0 15px;
  transform: translate(-50%, -50%);
}
.table .features li{
  margin-bottom: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.features li .list-name{
  font-size: 17px;
  font-weight: 400;
}
.features li .icon{
  font-size: 15px;
}
.features li .icon.check{
  color: #2db94d;
}
.features li .icon.cross{
  color: #cd3241;
}
.table .btn{
  width: 100%;
  display: flex;
  margin-top: 35px;
  justify-content: center;
}
.table .btn button{
  width: 80%;
  height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.table .btn button:hover{
  border-radius: 5px;
}
.basic .features li::selection{
  background: #ffd7615d;
}
.basic ::selection,
.basic .price-area,
.basic .inner-area{
  background: #89f2f2;
}
.basic .btn button{
  border: 2px solid #89f2f2;
  background: #fff;
  color: #89f2f2;
}
.basic .btn button:hover{
  background: #89f2f2;
  color: #fff;
}
.premium ::selection,
.premium .price-area,
.premium .inner-area{
  background: #a26bfa}

.premium .btn button{
  border: 2px solid #a26bfa;

  background: #fff;
  color:#a26bfa ;
}
.premium .btn button:hover{
  background: #833af8;
  color: #fff;
}
.ultimate ::selection,
.ultimate .price-area,
.ultimate .inner-area{
  background: #43ef8b;
}
.ultimate .btn button{
  border: 2px solid #43ef8b;
  color: #43ef8b;
  background: #fff;
}
.ultimate .btn button:hover{
  background: #43ef8b;
  color: #fff;
}
.basic .package-name{
  background: #89f2f2;
}
.premium .package-name{
  background: #d0b3ff;
}
.ultimate .package-name{
  background: #baf8d4;
}
.basic .package-name::before{
  content: "Chiquitin";
}
.premium .package-name::before{
  content: "Medianon";
  font-size: 24px;
}
.ultimate .package-name::before{
  content: "Grandulon";
  font-size: 24px;
}
@media (max-width: 1020px) {
  .wrapper .table{
    width: calc(50% - 20px);
    margin-bottom: 40px;
  }
}
@media (max-width: 698px) {
  .wrapper .table{
    width: 100%;
  }
}
::selection{
  color: #fff;
}
.table .ribbon{
  width: 150px;
  height: 150px;
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
}
.table .ribbon::before,
.table .ribbon::after{
  position: absolute;
  content: "";
  z-index: -1;
  display: block;
  border: 7px solid #4606ac;
  border-top-color: transparent;
  border-left-color: transparent;
}
.table .ribbon::before{
  top: 0px;
  right: 15px;
}
.table .ribbon::after{
  bottom: 15px;
  left: 0px;
}
.table .ribbon span{
  position: absolute;
  top: 30px;
  right: 0;
  transform: rotate(-45deg);
  width: 200px;
  background: #a26bfa;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.12);
}

/*footer*/
.content {
  flex: 1;
  }

  .footer {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100px;
  background: #eeb2e2;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  }

  .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 5px;
  flex-wrap: wrap;
  }

  .icon-elem {
  list-style: none;
  }

  .icon {
  color: black;
  font-size: 32px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
  } 

  .icon:hover {
  transform: translateY(-10px);
  }

  .menu {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  }

  .menu-elem {
  list-style: none;
  }
  .menu-icon {
  color: black;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  opacity: 0.5;
  transition: 0.3s;
  font-weight: 1000;

  }

  .menu-icon:hover {
  opacity: 1; 
  }

  .text {
  color: black;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 1000;

}


.flip {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-left: 60px;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%; /* Ajustar el ancho a un 100% para hacerlo responsivo */
  max-width: 400px; /* Mantener el tamaño máximo en 400px */
}

.flip > .front, .flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}

.flip > .front p, .flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px 
    rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem 
    rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px 
    rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem 
    rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px 
    rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem 
    rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px 
    rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

.flip > .front, .flip > .back {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}

.flip > .front {
  transform: rotateY(0deg);
}

.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}

.flip:hover > .front {
  transform: rotateY(180deg);
}

.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}

.flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}

.flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}

.flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}

/* Media Queries */
@media (max-width: 768px) {
  .flip {
    width: 100%;
    max-width: 300px; 
    margin: 0 auto; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 10px;
  }
  .flip > .front, .flip > .back {
    height: 180px; /* Reducir la altura */
  }
}

@media (max-width: 480px) {
  .flip {
    width: 100%;
    max-width: 250px; 
    margin: 0 auto; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .flip > .front, .flip > .back {
    height: 150px; 
  }
}